.aside-avatar {
    border: 3px gray solid;
    border-radius: 50%;
    margin: 20px auto;
    background-image: url('../../../public/images/avatar.jpg');
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
}
.aside-name {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.aside-name h1 a {
    font-size: xx-large;
    font-weight: bold;
}
.aside-name p {
    text-align: right;
}
.aside-catalogue {
    width: 260px;
    box-sizing: border-box;
}
.catalogue-list li {
    line-height: 50px;
    font-size: larger;
}
@media screen and (max-width: 800px) {
    .aside-root {
        position: relative;
        top: 0;
        width: 100%;
    }
    .aside-avatar {
        position: absolute;
        right: 0;
        height: 50px;
        width: 50px;
        margin: 0 20px;
    }
    .aside-name {
        padding: 0 20px;
        width: 100%;
    }

    .aside-name h1 {
        margin: 10px 0;
    }
    .aside-name h1 a {
        font-size: x-large;
    }
    .aside-name p {
        margin-bottom: 0;
    }
    .catalogue-list li {
        line-height: 25px;
        font-size: large;
    }
    .aside-container {
        display: flex;
        flex-wrap: wrap;
    }
    .aside-catalogue {
        width: 100%;
    }
    .catalogue-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-left: 20px;
    }
    .catalogue-list li {
        width: 25%;
        font-size: larger;
    }
}